body {
    background-color: #500000;
    color: rgb(62, 60, 60);
    min-width: 600px !important;
}

h1 {
    font: 400 3.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 102, 0);
    margin-top: 0px;
    padding-top: 2em;
}

h2 {
    font: 400 2.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#status {
    font: 400 1.538em/1.38 Copperplate;
    font-style: normal;
    /*font-weight: bold;*/
    text-decoration: none;
    color: rgb(255, 255, 255);
}

*{-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  â€”transition: all 0.2s ease;
}
.jqplot-data-label, .jqplot-title {
    color:white;
    font-size: 1.5em;
}
.jqplot-series-canvas {
    background-color: #500000; 
}
.jsfcrud_list_form {
    /*    align-content: center;*/
    text-align: center;
    padding-top: 20px;
}
table.jqplot-table-legend{
    color: white;
    background-color: transparent;
    border: 0 solid #500000;
    font-size: 1.25em;
}
.text {
    color: rgb(255, 255, 255);
    text-align: center;
}

.text:hover {
    color: #CC6600;
}

.admin_access {
    display: none;
}

.ui-button {
    background-color: rgb(255, 102, 0);
    color: black;
    height: 30px;
    width: 80px;
    font-size: 15px;
}
.jqplot-grid-canvas {
    display: none;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { /* zoom: 1; */ }



@media  screen and (max-width: 1300px) { 
    /* Styles */
    .text {
        text-align: center;
    }


    @media  screen and (max-width: 1024px) { 
        /* Styles */
        .text {
            text-align: left;

        }
    }
}

#weather_widget * {
    margin:0px;
    padding:0px;
    font-family:Copperplate;
    font-size:1.10em;
    color: #FFFFFF;
    margin-left: 30px;
}

#weather_widget {

    background-color:#500000;
    width:500px;
    padding-top:45px;
    overflow:auto;
}

#weather_city {
    font-weight:bold;
}

#weather_country {
    font-size:0.80em;
}

#weather_temp {
    margin-top:5px;
}

#weather_cond {
    margin-top:5px;
}

#weather_conditions {
    float:left;
}

.ui-datascroller-inline .ui-datascroller-content {
    padding: 4px 10px;
    text-align: left;
    overflow: auto;
    color: #FFFFFF;
    background-color: #500000;
    border-style: none;

}

.ui-datascroller-inline .ui-datascroller-list {
    /*list-style-type: none;*/ 
    margin: 0;
    padding: 0;
}

.ui-datascroller-inline .ui-datascroller-item {
    border-bottom-color: #FFFFFF;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: #500000;
}

.ui-datascroller .ui-datascroller-loader {
    text-align: center;
    padding: 4px 10px;
}

.ui-datascroller .ui-datascroller-loading {
    background: url("/VTDT/faces/javax.faces.resource/datascroller/images/loading.gif?ln=primefaces&v=5.0") center center no-repeat;
    width: 220px;
    height: 19px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.ui-outputpanel table {
    display:inline;
}

.logo {
    width: 90px;
}

img{
    border-radius: 10px;
    padding-top: 5px;
}

#panel {
    background-color: #500000;
    font-family:Copperplate;
    font-size:1.10em;
    color: #FFFFFF;
    padding-bottom: 10px;
}

#map-canvas {
    height: 250px;
     margin: 0px; 
 }