body {
    background-color: #500000;
    color: rgb(62, 60, 60);
    min-width: 600px !important;
}

h1 {
    font: 400 3.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 102, 0);
    margin-top: 0px;
}

h2 {
    font: 400 2.938em/1.38 Copperplate;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#status {
    font: 400 1.538em/1.38 Copperplate;
    font-style: normal;
    /*font-weight: bold;*/
    text-decoration: none;
    color: rgb(255, 255, 255);
}

*{-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  â€”transition: all 0.2s ease;
}
.jqplot-data-label, .jqplot-title {
    color:white;
    font-size: 1.5em;
}
.jqplot-series-canvas {
     background-color: #500000; 
     border-color: #FFFFFF;
     border-width: 6px;
     border-style: solid;
}
.jsfcrud_list_form {
/*    align-content: center;*/
    text-align: center;
    padding-top: 20px;
}
table.jqplot-table-legend{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.25em;
}
.text {
    /*font-size: 1em;*/
    /*font-weight: 400;*/
    /*line-height: 1.38;*/
    /*letter-spacing: -2px;*/
    color: rgb(255, 255, 255);
    text-align: center;
}

.text:hover {
    color: #CC6600;
}

.header {
    text-align: right;
}

.logout,
.logout:hover {
    font-size: 2em;
}

a,
a:hover,
a:visited {
    font: 400 3.938em/1.38 Copperplate;
    text-decoration: none;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { /* zoom: 1; */ }



@media  screen and (max-width: 1300px) { 
    /* Styles */
    .text {
        text-align: center;
    }


    @media  screen and (max-width: 1024px) { 
        /* Styles */
        .text {
            text-align: left;

        }

    }
    
    #weather_widget * {
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:1.10em;
}

    #weather_widget {

            background:#FFFFFF;
            width:500px;
            padding:10px;
            overflow:auto;
    }

    #weather_img {
            float:left;
            padding-right:20px;
            padding-top:10px;
            padding-left:20px;
    }

    #weather_city {
            font-weight:bold;
    }

    #weather_country {
            font-size:0.80em;
    }

    #weather_temp {
            margin-top:5px;
    }

    #weather_cond {
            margin-top:5px;
    }

    #weather_conditions {
            float:left;
    }
    
    .ui-datascroller {
    }

    .ui-datascroller-inline .ui-datascroller-header {
        text-align: left;
        /*padding: 4px 10px;*/
        border-bottom: 2px;
    }

    .ui-datascroller-inline .ui-datascroller-content {
        padding:4px 10px;
        text-align: left;
    }

    .ui-datascroller-inline .ui-datascroller-content {
        overflow: auto;
    }

    .ui-datascroller-inline .ui-datascroller-list {
        list-style-type: none; 
        margin: 0;
        padding: 0;
    }

    .ui-datascroller-inline .ui-datascroller-item {
        border-color: #000000;
        border-width: 6px;
        border-style: solid;
    }

    .ui-datascroller .ui-datascroller-loader {
        text-align: center;
        padding: 4px 10px;
    }

    .ui-datascroller .ui-datascroller-loading {
        background: url("#{resource['primefaces:datascroller/images/loading.gif']}") center center no-repeat;
        width: 220px;
        height: 19px;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}